<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8">
	<title>Insert title here</title>
</head>
<body>
	<h1>Lista de Pessoas</h1>
	<h3><a href="/cadastrarPessoa" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Pessoa</a></h3>
	
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Endereco</th>
			</thead>
			<tbody>
				<tr th:each="pessoa : ${pessoas}">
					<td><span th:text="${pessoa.nome}"></span></td>
					<td><span th:text="${pessoa.email}"></span></td>
					<td><span th:text="${pessoa.endereco}"></span></td>
			</tbody>		
		</table>
	</div>
	
	<h1>Lista de Funcionarios</h1>
	<h3><a href="/cadastrarFuncionario" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Funcionário</a></h3>
	
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Matrícula</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Endereco</th>
					<th>Grupo</th>
					<th>Ativo</th>
			</thead>
			<tbody>
				<tr th:each="funcionario : ${funcionarios}">
					<td><span th:text="${funcionario.matricula}"></span></td>
					<td><span th:text="${funcionario.nome}"></span></td>
					<td><span th:text="${funcionario.email}"></span></td>
					<td><span th:text="${funcionario.endereco}"></span></td>
					<td><span th:text="${funcionario.grupo}"></span></td>
					<td><span th:text="${funcionario.ativo}"></span></td>
			</tbody>
		</table>
	</div>

	<h1>Lista de Pets</h1>
	<h3><a href="/cadastrarPet" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Pet</a></h3>
	
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Nome do Pet</th>
					<th>Raça</th>
					<th>Cor</th>
					<th>Dono Do Pet</th>
			</thead>
			<tbody>
				<tr th:each="pet : ${pets}">
					<td><span th:text="${pet.nomePet}"></span></td>
					<td><span th:text="${pet.raca}"></span></td>
					<td><span th:text="${pet.cor}"></span></td>
					<td><span th:text="${pet.donoPet}"></span></td>
			</tbody>		
		</table>
	</div>
	
	<h1>Lista de Serviços</h1>
	<h3><a href="/cadastrarServico" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Serviço</a></h3>
	
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Código do Serviço</th>
					<th>Descrição</th>
					<th>Preço</th>
			</thead>
			<tbody>
				<tr th:each="servico : ${servicos}">
					<td><span th:text="${servico.codigo}"></span></td>
					<td><span th:text="${servico.descricao}"></span></td>
					<td><span th:text="${servico.preco}"></span></td>
			</tbody>		
		</table>
	</div>

	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>